<aside class="main-sidebar sidebar-light-primary elevation-4">
    <div class="form-inline">
        <div class="input-group left-search" data-widget="sidebar-search">
          <input [(ngModel)]="defaultPath" class="form-control form-control-sidebar" type="search" placeholder="" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar" (click)="clickDirTree($event)">
              <i class="fa fa-folder-open"></i>
            </button>
          </div>
        </div>
    </div>
    <div class="sidebar">
      <hxtreeview></hxtreeview>
    </div>
</aside>

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <section class="content">
                <router-outlet></router-outlet>
            </section>
        </div>
    </div>
</div>
