<div class="container bg">
    <div class="row no-gutters calc_top page-hero d-flex align-items-center justify-content-center">
      <div class="col">
        <h1 class="top_text">{{calc_result}}</h1>
      </div>
    </div>
    <div class="row no-gutters calc_row">
      <div class="col border border-light">
        <button type="button" (click)="persen_click()" class="btn btn_full btn_top">%</button>
      </div>
      <div class="col border border-light">
        <button type="button" (click)="ce_click()" class="btn btn_full btn_top">CE</button>
      </div>
      <div class="col border border-light">
        <button type="button" (click)="c_click()" class="btn btn_full btn_top">C</button>
      </div>
      <div class="col border border-light">
        <button type="button" (click)="back_click()" class="btn btn_full btn_top">⌫</button>
      </div>
    </div>
    <div class="row no-gutters calc_row">
        <div class="col border border-light">
          <button type="button" (click)="seperx_click()" class="btn btn_top btn_full"><sup>1</sup>/x</button>
        </div>
        <div class="col border border-light">
          <button type="button" (click)="kuadrat_click()" class="btn btn_top btn_full">x<sup>2</sup></button>
        </div>
        <div class="col border border-light">
          <button type="button" (click)="squareroot_click()" class="btn btn_top btn_full"><sup>2</sup>√x</button>
        </div>
        <div class="col border border-light">
          <button type="button" (click)="bagi_click()" class="btn btn_top btn_full">÷</button>
        </div>
      </div>
      <div class="row no-gutters calc_row">
        <div class="col border border-light">
          <button type="button" (click)="juh_click()" class="btn btn_bottom btn_full">7</button>
        </div>
        <div class="col border border-light">
          <button type="button" (click)="pan_click()" class="btn btn_bottom btn_full">8</button>
        </div>
        <div class="col border border-light">
          <button type="button" (click)="lan_click()" class="btn btn_bottom btn_full">9</button>
        </div>
        <div class="col border border-light">
          <button type="button" (click)="kali_click()" class="btn btn_top btn_full">×</button>
        </div>
      </div>
      <div class="row no-gutters calc_row">
        <div class="col border border-light">
          <button type="button" (click)="pat_click()" class="btn btn_bottom btn_full">4</button>
        </div>
        <div class="col border border-light">
          <button type="button" (click)="ima_click()" class="btn btn_bottom btn_full">5</button>
        </div>
        <div class="col border border-light">
          <button type="button" (click)="nam_click()" class="btn btn_bottom btn_full">6</button>
        </div>
        <div class="col border border-light">
          <button type="button" (click)="min_click()" class="btn btn_top btn_full">-</button>
        </div>
      </div>
      <div class="row no-gutters calc_row">
        <div class="col border border-light">
          <button type="button" (click)="satu_click()" class="btn btn_bottom btn_full">1</button>
        </div>
        <div class="col border border-light">
          <button type="button" (click)="dua_click()" class="btn btn_bottom btn_full">2</button>
        </div>
        <div class="col border border-light">
          <button type="button" (click)="tiga_click()" class="btn btn_bottom btn_full">3</button>
        </div>
        <div class="col border border-light">
          <button type="button" (click)="tambah_click()" class="btn btn_top btn_full">+</button>
        </div>
      </div>
      <div class="row  no-gutters calc_row">
        <div class="col border border-light">
          <button type="button" (click)="plusminus_click()" class="btn btn_bottom btn_full"><sup>+</sup>/-</button>
        </div>
        <div class="col border border-light">
          <button type="button" (click)="nol_click()" class="btn btn_bottom btn_full">0</button>
        </div>
        <div class="col border border-light">
          <button type="button" (click)="dot_click()" class="btn btn_bottom btn_full">.</button>
        </div>
        <div class="col border border-light">
          <button type="button" (click)="samadengan_click()" class="btn btn_result btn_full">=</button>
        </div>
      </div>
  </div>