<div class="row" >
    <div class="card-footer card-comments ukur">
      <div class="card-comment" *ngFor="let item of articles">
        <div class="comment-text">
          <span class="username">
            <a href="item.link" >{{item.title}}</a>
          </span>
          <div class="row">
            {{item.description}}
          </div>
          <div class="row">
            <!-- <div class="col-2">
              <i class="far fa-star"></i> {{item.stargazers_count}}
            </div>
            <div class="col-2">
              <i class="fas fa-circle"></i> {{item.language}}
            </div>
            <div class="col-5">
              {{item.updated_at | date : 'medium'}}
            </div> -->
          </div>
        </div>
        
      </div>
    </div>
</div>