<div class="row" >
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action" *ngFor="let item of articles">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{item.title}}</h5>
        <small>3 days ago</small>
      </div>
      <p class="mb-1">{{item.description}}</p>
      <small>Donec id elit non mi porta.</small>
    </a>
  </div>
    <!-- <div class="card-footer card-comments ukur">
      <div class="card-comment" *ngFor="let item of articles">
        <div class="comment-text">
          <span class="username">
            <a href="item.link" >{{item.title}}</a>
          </span>
          <div class="row">
            {{item.description}}
          </div>
          <div class="row">
          </div>
        </div>
        
      </div>
    </div> -->
</div>