<div class="container">
    <div class="row no-gutters">
      <div class="col">
        <button type="button" class="btn btn-secondary btn_full">%</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-secondary btn_full">CE</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-secondary btn_full">C</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-secondary btn_full">v</button>
      </div>
    </div>
    <div class="row no-gutters">
        <div class="col">
          <button type="button" class="btn btn-secondary btn_full">Secondary</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-secondary btn_full">Secondary</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-secondary btn_full">Secondary</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-secondary btn_full">Secondary</button>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col">
          <button type="button" class="btn btn-secondary btn_full">7</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-secondary btn_full">8</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-secondary btn_full">9</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-secondary btn_full">x</button>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col">
          <button type="button" class="btn btn-secondary btn_full">4</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-secondary btn_full">5</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-secondary btn_full">6</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-secondary btn_full">-</button>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col">
          <button type="button" class="btn btn-secondary btn_full">1</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-secondary btn_full">2</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-secondary btn_full">3</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-secondary btn_full">+</button>
        </div>
      </div>
      <div class="row  no-gutters">
        <div class="col">
          <button type="button" class="btn btn-secondary btn_full">+/-</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-secondary btn_full">0</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-secondary btn_full">.</button>
        </div>
        <div class="col">
          <button type="button" class="btn btn-secondary btn_full">=</button>
        </div>
      </div>
  </div>