<div class="container bg">
    <div class="row no-gutters calc_top page-hero d-flex align-items-center justify-content-center">
      <h1 class="top_text">10000</h1>
    </div>
    <div class="row no-gutters calc_row">
      <div class="col border border-light">
        <button type="button" class="btn btn_full btn_top">%</button>
      </div>
      <div class="col border border-light">
        <button type="button" class="btn btn_full btn_top">CE</button>
      </div>
      <div class="col border border-light">
        <button type="button" class="btn btn_full btn_top">C</button>
      </div>
      <div class="col border border-light">
        <button type="button" class="btn btn_full btn_top">⌫</button>
      </div>
    </div>
    <div class="row no-gutters calc_row">
        <div class="col border border-light">
          <button type="button" class="btn btn_top btn_full">1/x</button>
        </div>
        <div class="col border border-light">
          <button type="button" class="btn btn_top btn_full">ab</button>
        </div>
        <div class="col border border-light">
          <button type="button" class="btn btn_top btn_full">√x</button>
        </div>
        <div class="col border border-light">
          <button type="button" class="btn btn_top btn_full">÷</button>
        </div>
      </div>
      <div class="row no-gutters calc_row">
        <div class="col border border-light">
          <button type="button" class="btn btn_bottom btn_full">7</button>
        </div>
        <div class="col border border-light">
          <button type="button" class="btn btn_bottom btn_full">8</button>
        </div>
        <div class="col border border-light">
          <button type="button" class="btn btn_bottom btn_full">9</button>
        </div>
        <div class="col border border-light">
          <button type="button" class="btn btn_top btn_full">×</button>
        </div>
      </div>
      <div class="row no-gutters calc_row">
        <div class="col border border-light">
          <button type="button" class="btn btn_bottom btn_full">4</button>
        </div>
        <div class="col border border-light">
          <button type="button" class="btn btn_bottom btn_full">5</button>
        </div>
        <div class="col border border-light">
          <button type="button" class="btn btn_bottom btn_full">6</button>
        </div>
        <div class="col border border-light">
          <button type="button" class="btn btn_top btn_full">-</button>
        </div>
      </div>
      <div class="row no-gutters calc_row">
        <div class="col border border-light">
          <button type="button" class="btn btn_bottom btn_full">1</button>
        </div>
        <div class="col border border-light">
          <button type="button" class="btn btn_bottom btn_full">2</button>
        </div>
        <div class="col border border-light">
          <button type="button" class="btn btn_bottom btn_full">3</button>
        </div>
        <div class="col border border-light">
          <button type="button" class="btn btn_top btn_full">+</button>
        </div>
      </div>
      <div class="row  no-gutters calc_row">
        <div class="col border border-light">
          <button type="button" class="btn btn_bottom btn_full">±</button>
        </div>
        <div class="col border border-light">
          <button type="button" class="btn btn_bottom btn_full">0</button>
        </div>
        <div class="col border border-light">
          <button type="button" class="btn btn_bottom btn_full">.</button>
        </div>
        <div class="col border border-light">
          <button type="button" class="btn btn_result btn_full">=</button>
        </div>
      </div>
  </div>