.bg {
    background-color: #BEBFC1;
}

.btn_full {
    height: 100%;
    width: 100%;
 }

.btn_full:active {
    background-color: rgb(100, 131, 131);
}

.btn_top {
    background-color: #D1D1D2;
}

.btn_bottom {
    background-color: #E3E3E3;
}

.btn_result {
    background-color: #81A2BD;
}

.calc_top {
    height: 120px;
}

.top_text {
    text-align: right;
    size: 19px;
}

.calc_row {
    height: 55px;
}