<aside class="main-sidebar sidebar-dark-primary elevation-4 hxmenubar">
    <a href="#" class="brand-link">
        <span class="brand-text font-weight-light">Github Recent Explorer</span>
    </a>

    <div class="sidebar">
        <app-menuleft></app-menuleft>
    </div>
</aside>

<div class="content-wrapper">
    <div class="content-header scroll">
        <div class="container-fluid">
            <section class="content">
                <router-outlet></router-outlet>
            </section>
        </div>
    </div>
</div>
