<ul id="myUL">
    <li class="caret" *ngFor="let ifile of ifiles">
      <span (click)="clickFolder($event, $index)">
        <i class="fas fa-folder"></i>
        {{ifile.name}}
      </span>
      <!-- <ul [className]="treeActive ? 'nested':'active' ">
        <li>Water</li>
        <li>Coffee</li>
        <li><span class="caret">Tea</span>
          <ul class="nested">
            <li>Black Tea</li>
            <li>White Tea</li>
            <li><span class="caret">Green Tea</span>
              <ul class="nested">
                <li>Sencha</li>
                <li>Gyokuro</li>
                <li>Matcha</li>
                <li>Pi Lo Chun</li>
              </ul>
            </li>
          </ul>
        </li>  
      </ul> -->
    </li>
  </ul>