<ul>
  <ng-container
    *ngTemplateOutlet="recursiveListTmpl; context:{ namalist: list }">
  </ng-container>
</ul>

<ng-template #recursiveListTmpl let-list="namalist">
  <li class="caret" *ngFor="let item of list;let i = index" (click)="clickFolder($event, item)">
    <span>
      <i class="fas fa-folder"></i>
      {{item.name}}
    </span>
    <ul class="nested" *ngIf="item.children.length > 0">
      <ng-container
        *ngTemplateOutlet="recursiveListTmpl; context:{ namalist: (item.children | showOnlyDir) }"
      ></ng-container>
    </ul>
  </li>
</ng-template>